body {
    z-index: 0;
    background-color: #1f1f1f;
    color: #cdd6f4;
    font-family: "JetBrains Mono";
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    justify-content: center;
    user-select: none;
}

.tile {
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: center;
    user-select: none;
}

.dark {
    z-index: 0;
    color: #ffffff;
    border-width: 0px;
    border-color: #1f9f1f;
    background-color: #111b11;
}

.light {
    z-index: 0;
    border-width: 0px;
    background-color: #1e2e1e;
}

.open_light {
    z-index: 0;
    border-color: #895634;
    background-color: #895634;
}

.open_dark {
    z-index: 0;
    border-color: #693614;
    background-color: #693614;
}

input {
    background-color: #1e1e2e;
    color: white;
    border: none;
    font-family: "JetBrains Mono";
}

#timer {
    position: absolute;
    left: 1vmin;
    top: 1vmin;
    z-index: 1;
}

#restart {
    position: absolute;
    left: 1vmin;
    top: calc(1vmin + 1.25rem);
    z-index: 1;
}

.square {
    width: 70;
    height: 70;
    background-color: #3f3f3f;
}

.small {
    width: 30;
    height: 30;
    background-color: #3f3f3f;
}

#modechanger {
    z-index: 1;
    left: 1vmin;
    top: calc(100vh - 1vmin - 70px);
}

#scaleup {
    z-index: 1;
    left: calc(2vmin + 70px);
    top: calc(100vh - 1vmin - 70px);
}

#scaledown {
    z-index: 1;
    left: calc(3vmin + 140px);
    top: calc(100vh - 1vmin - 70px);
}


#up {
    z-index: 1;
    left: calc(4vmin + 230px);
    top: calc(100vh - 1vmin - 70px);
}

#down {
    z-index: 1;
    left: calc(4vmin + 230px);
    top: calc(100vh - 1vmin - 30px);
}

#left {
    z-index: 1;
    left: calc(4vmin + 210px);
    top: calc(100vh - 1vmin - 50px);
}

#right {
    z-index: 1;
    left: calc(4vmin + 250px);
    top: calc(100vh - 1vmin - 50px);
}